<div class="timeline" id="timeline">
    <div class="timeline-icon"></div>
    <div class="timeline-content">
        <h4 class="title">Cập nhật lúc: 05:04 - 12/09/2019</h4>
        <div class="owner-product">
            <img src="./chi-tiet/img_forest.jpg" class="img-fluid" alt="..."><span>Viện nghiên
                cứu Ứng dụng
                Công nghệ CMC</span>
        </div>
        <div class="description">
            <div class="card text-left">
                <div class="card-body">
                    <p class="card-text"><span class="font-weight-bold">Trạng thái: </span><span class="text-success">Trồng</span></p>
                    <p class="card-text"><span class="font-weight-bold">Địa chỉ: </span><span class="dia-chi">Hà Giang,
                            Ha Giang, Viet Nam</span></p>
                    <p class="card-text"><span class="font-weight-bold">Mô tả: </span>Trồng từ hạt
                    </p>
                    <div class="mo-ta-hinh-anh">
                        <div class="photoswipe-wrapper" data-pswp-uid="1">

                            <div class="my-gallery flex-container">
                                <figure>
                                    <div class="photoswipe-item">
                                        <a href="https://www.w3schools.com/css/img_fjords.jpg" data-size="600x400">
                                            <img src="https://www.w3schools.com/css/img_fjords.jpg" alt="Image description" class="img-fluid">
                                        </a>
                                        <figcaption itemprop="caption description">Image caption 2.1
                                        </figcaption>
                                    </div>
                                </figure>
                                <figure>
                                    <div class="photoswipe-item">
                                        <a href="#" data-type="video" data-video="<div class=&quot;wrapper&quot;><div class=&quot;video-wrapper&quot;><iframe class=&quot;pswp__video&quot; width=&quot;960&quot; height=&quot;640&quot; src=&quot;https://www.youtube-nocookie.com/embed/iP2JGliTdvw?rel=0&quot; frameborder=&quot;0&quot; allowfullscreen></iframe></div></div>"
                                            data-size="960x640">
                                            <img src="http://placehold.it/960x640?text=YouTube" class="img-fluid">
                                        </a>
                                        <figcaption itemprop="caption description">Image caption 2.1
                                        </figcaption>
                                    </div>

                                </figure>


                                <figure>
                                    <div class="photoswipe-item">
                                        <a href="#" data-type="video" data-video="<div class=&quot;wrapper&quot;><div class=&quot;video-wrapper&quot;><iframe class=&quot;pswp__video&quot; src=&quot;https://player.vimeo.com/video/121436114?title=0&amp;byline=0&amp;portrait=0&quot; width=&quot;960&quot; height=&quot;640&quot; frameborder=&quot;0&quot; webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div></div>"
                                            data-size="960x640">
                                            <img src="http://placehold.it/960x640?text=Vimeo" class="img-fluid">
                                        </a>
                                        <figcaption itemprop="caption description">Image caption 2.1
                                        </figcaption>
                                    </div>
                                </figure>
                                <figure>
                                    <div class="photoswipe-item">
                                        <a href="https://www.w3schools.com/css/img_fjords.jpg" data-size="600x400">
                                            <img src="https://www.w3schools.com/css/img_fjords.jpg" alt="Image description" class="img-fluid">
                                        </a>
                                        <figcaption itemprop="caption description">Image caption 2.1
                                        </figcaption>
                                    </div>
                                </figure>
                                <figure>
                                    <div class="photoswipe-item" hidden>
                                        <a href="#" data-type="video" data-video="<div class=&quot;wrapper&quot;><div class=&quot;video-wrapper&quot;><video width=&quot;960&quot; class=&quot;pswp__video&quot; src=&quot;mov_bbb.mp4&quot; controls></video></div></div>" data-size="960x640">
                                            <img src="http://placehold.it/960x640?text=MP4" alt="Image description" class="img-fluid">
                                        </a>
                                        <figcaption itemprop="caption description">Image caption 2.1
                                        </figcaption>
                                    </div>
                                </figure>

                            </div>

                        </div>
                    </div>
                    <div class="niem-phong-cong-nghe">
                        <p><i class="fas fa-stamp"><span class="font-weigh-bold"> Niêm phong điện
                                    tử:</span></i></p>
                        <div class="row">

                            <div class="col-6">
                                <p class="niem-phong-header text-success">
                                    69658616f47113f4de5c6389ae0b1717dbdc641a7023480f0d8e9baebbdd579e
                                </p>
                            </div>
                            <!-- <div class="col-1" style="padding: 2% 0% 0% 5%;color: #10b915;">
                                <i class="fas fa-check-circle "></i>
                            </div> -->
                            <div class="col-6">
                                <div class="list-group">
                                    <button class="btn btn-primary btn-sm xem-them-chung-chi" type="button" data-toggle="collapse" data-target="#niemphong1" aria-expanded="false" aria-controls="collapseExample">
                                        <span><i class="fas fa-check-circle " style="color: #10b915;"></i></span> Xem
                                        thêm
                                    </button>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="collapse" id="niemphong1">
                                    <div class="card card-body">
                                        <li class="text-success niem-phong-1">
                                            69658616f47113f4de5c6389ae0b1717dbdc641a7023480f0d8e9baebbdd579e
                                        </li>
                                        <li class="text-success niem-phong-2">
                                            6965343rd57113f4de5c6389ae0b1717dbdc641a7023480f0d8e9baebbdd579e
                                        </li>
                                        <li class="text-success niem-phong-3">
                                            dbdc641a7023480f0d8e9baebbdd579edbdc641a7023480f0d8e9baebbdd579e
                                        </li>
                                        <li class="text-success niem-phong-4">
                                            69658616f471145sa34c6389ae0b1717dbdc641a7023480f0d8e9baebbdd579e
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
